# Nixpacks plan for Railway deployment
[phases.setup]
nixPkgs = ["python310", "ffmpeg", "gcc", "glib", "stdenv.cc.cc.lib"]
nixLibs = ["zlib", "libGL", "stdenv.cc.cc.lib"]

[phases.build]
cmds = ["chmod +x start.sh"]

[start]
cmd = "./start.sh"
